@import "variables";
@import "reset";
@import "media-query";
@import "../../node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

.header {
  background: #424143;
  color: white;
  padding: 15px 10px;


  .header-item {
    background: #919191;
    width: 150px;
  }

  .header__avatar {
    height: 40px;
    border-radius: 100%;
  }


}

.main-alternative {
  min-height: 100vh;
}

.new-project-btn {
  background: #FF661E;
  color: white;
  border-radius: 2px;
  border: none;
  padding: 5px 10px;
}

.main {
  background: #2B2B2B;
  min-height: 100vh;



  .cards {
    margin-top: 20px;
    display: flex;
    padding: 30px;
    flex-direction: column;
  }

}

.my-projects_bg{
  background: #D8D8D8;
}

.team-card {
  padding: 20px;
  margin-top: 20px;
  color: white;

  .team-card__bg {
    background: #fff;

    .card__content {
      background: #53C004;
      padding: 10px;

      .card__content-title {
        font-size: 24px;
      }

      .card__content-description {
        font-size: 14px;
      }

    }

    .team {
      color: grey;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .team__icons {
        color: darkgrey;
        align-items: center;
        display: flex;
        gap: 10px;
      }

      .team-members {
        .team-members__avatar {
          border-radius: 100%;
          height: 40px;
        }
      }
    }
  }
}
