$backgroud-header: #424143;
$backgroud-header-1440: #0d1117; 
$backgroud-header-1280: #d8d8d8; 
$backgroud-header-1024: #0d1117; 
$backgroud-header-768: #0d1117; 
$profile-count-background: #5c5c5c;
$my-project-background: #d8d8d8;
$cards-backround: white;