* {
  box-sizing: border-box;
}

.header {
  background: #424143;
  color: white;
  padding: 15px 10px;

  .custom-header-item {
    background: #000000;
    width: 150px;
  }

  .header-avatar {
    height: 40px;
    border-radius: 100%;
  }
}

img {
  max-height: 400px;
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: cover;
  object-position: center;
}